<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                Employee Records <button routerLink="create" class="btn btn-sm btn-success">Add New</button>
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeList">
                        <td>{{employee.code}}</td>
                        <td>{{employee.employeeName}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.designation}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" routerLink="edit/{{employee.employeeId}}">Edit</button> |
                            <button class="btn btn-sm btn-danger" (click)="delete(employee.employeeId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>